
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Cormorant+Garamond serif */
/* Merriweather serif */
/* Proza+Libre */
/* Quattrocento+Sans */
/* Quattrocento serif */
/* Work+Sans */

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --hueRoxoEscuro:283;
    --hueRoxo:273;
    --hueClickBorder:281;
    --hueRoxoAtencao:273;
    --hueRoxoClaro:272;
    --roxoEscuro: hsl(var(--hueRoxo) 31 19);
    --roxo:hsl(var(--hueRoxo) 88 35) ;
    --brancoNeve: #FBFBFB;
    --clickBorder: hsl(var(--hueRoxo) 100 88);
    --roxoAtencao: hsl(var(--hueRoxo) 100 50);
    --roxoClaro: hsl(var(--hueRoxo) 100 85);
    --fonteTitulo:'Source Sans 3';
    --fonteCorpo:'Poppins';
    --fonteTituloTamanho:6vh ;
    --fonteCorpoTamanho:2vh;
    --backgroundPuro: #ffffff;
    --backgroundItems: #f8f8f8; 
    --backgroundItemsClaros: #f1f1f1; 
    --fonteCor:#000000;
}

html{
    @apply md:text-sm xl:text-lg  sm:text-xs;
    font-family: var(--fonteCorpo);
}

#app{
    max-height:100% ;
}




